<html>
<head>
	<title>Tuna Details</title>
</head>
<style>
	body {
	  background-color: rgb(30,30,40);
	}
</style>
<body background-colorrgb(30,30,40)>
	<h1 style="color:rgb(245, 239, 239);"> Tuna Details are generated in a PDF file as Product_Details and is saved in your source folder. Thank you!</h1>
</body>
</html>
